@charset "utf-8";
/* CSS Document */
.box1
{width:200px; height:200px; float:left; margin:auto; background-color:#090;
}
.box2
{width:200px; height:200px; float:left; margin:200px 0px 0px 0px; background-color:#F00;
}
.box3
{width:200px; height:200px; float:left; margin:400px-200px 0px 0px; background-color:#33C;
}
.box4
{width:200px; height:200px; float:left; margin:400px 0px 00px -200px; background-color:#FF0;
}
.box5
{width:200px; height:200px; float:left; margin:200px -400px 0px 0px; background-color:#609;
}
