@charset "utf-8";
/* CSS Document */
.aa
{width:200px; height:200px; float:left; background-color:#C0C; margin:15px; border-radius:90px 0px; box-shadow: 20px 10px 20px; color:#999; 
}

.bb
{width:200px; height:200px; float:left; background-color:#C0C; margin:15px; border-radius:0px 90px; box-shadow: 20px 10px 20px; color:#999; 
}

.cc
{width:200px; height:200px; float:left; background-color:#C0C; margin:15px; border-radius:90px 0px 90px 0px; box-shadow: 20px 10px 20px; color:#999; text-align:center; line-height:100px; font-size:18px; color:#FFF; 
}

.dd
{width:200px; height:200px; float:left; background-color:#C0C; margin:15px; border-radius:0px 90px 0px 90px; box-shadow: 20px 10px 20px; color:#999; text-align:center; line-height:100px; font-size:18px; color:#FFF; 
}
.ee
{width:100px; height:100px; float:left; background-color:#C0C; margin:20px; border-radius:90px; box-shadow: 20px 10px 20px; color:#999; text-align:center; line-height:100px; font-size:18px; color:#FFF; transform:scale(1.5); 
}

.ff
{width:200px; height:200px; float:left; background-color:#C0C; margin:15px; border-radius:90px 0px 90px 0px; box-shadow: 20px 10px 20px; color:#999; text-align:center; line-height:100px; font-size:18px; color:#FFF; transform:rotate(20deg); 
}
.gg
{width:200px; height:200px; float:left; background-color:#C0C; margin:15px; border-radius:90px 0px 90px 0px; box-shadow: 20px 10px 20px; color:#999; text-align:center; line-height:100px; font-size:18px; color:#FFF; transform:rotate(90deg) 
}
.hh
{width:200px; height:200px; float:left; background-color:#C0C; margin:30px; border-radius:90px 0px 90px 0px; box-shadow: 20px 10px 20px; color:#999; text-align:center; line-height:100px; font-size:18px; color:#FFF; transform:rotate(60deg) 
}
.ii
{width:200px; height:200px; float:left; background-color:#C0C; margin:15px; border-radius:0px 90px; transform:rotate(45deg) 
}
.jj
{width:200px; height:200px; float:left; background-color:#C0C; margin:20px; border-radius:90px 0px 90px 0px; box-shadow: 20px 10px 20px; color:#999; text-align:center; line-height:100px; font-size:18px; color:#FFF; transform:rotate(30deg) 
}
.kk
{width:200px; height:200px; float:left; background-color:#C0C; margin:25px; border-radius:90px 0px; box-shadow: 20px 10px 20px; 
}


.ll
{width:200px; height:200px; float:left; background-color:#C0C; margin:25px; border-radius:90px 0px; box-shadow: 20px 10px 20px; transform:rotate(-45 deg) 
}








